.details-page-sec1 {
  outline: 1px solid red;
  display: flex;
  justify-content: space-between;
}
body {
    background-color: #597272;
}
.details-card {
  outline: 1px solid;
  height: 200px;
  margin: 10px;
}
