.details-page-sec1 {
  outline: 1px solid red;
  display: flex;
  justify-content: space-between;
}
body {
    background-color: #597272;
}
.details-card {
  outline: 1px solid;
  height: 200px;
  margin: 10px;
}

.details-page-sec1{
    background-color: #7a9382d1;
}

.details-card{
    padding: 5px;
}

.game-detail{
    margin: 4px;
}
